<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Configuração </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>
          Taxas Cobradas
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Débito</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{debito}}" [(ngModel)]="debito"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Hora</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{valorHora}}" [(ngModel)]="valorHora"> </ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>14</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{valor14}}" [(ngModel)]="valor14"></ion-input>
        </ion-item>        
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>30</ion-label>
        <ion-item>
          <ion-label>{{ valorC }}</ion-label>
          <ion-input type="number" pattern="[0-9]*" value="{{valor30}}" [(ngModel)]="valor30"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Parcela 1</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela1}}" [(ngModel)]="parcela1"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 2</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela2}}" [(ngModel)]="parcela2"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 3</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela3}}" [(ngModel)]="parcela3"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
     <ion-col class="ion-text-center">
        <ion-label>Parcela 4</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela4}}" [(ngModel)]="parcela4"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 5</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela5}}" [(ngModel)]="parcela5"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 6</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela6}}" [(ngModel)]="parcela6"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Parcela 7</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela7}}" [(ngModel)]="parcela7"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 8</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela8}}" [(ngModel)]="parcela8"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 9</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela9}}" [(ngModel)]="parcela9"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Parcela 10</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela10}}" [(ngModel)]="parcela10"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 11</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela11}}" [(ngModel)]="parcela11"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-label>Parcela 12</ion-label>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" value="{{parcela12}}" [(ngModel)]="parcela12"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="salvarTaxas()"> Salvar</ion-button>

</ion-content>
